@import "tailwindcss";
@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("./assets/JetBrainsMono-Regular.woff2") format("woff2");
}

@theme {
	--font-mono: "JetBrainsMono", monospace;
}

textarea:focus-visible,
input:focus-visible {
	@apply outline-none;
}
.hovered-token {
	background: #ff66c4 !important;
	color: black !important;
	* {
		color: black !important;
	}
}
